body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd,input,textarea,select,option,button{margin:0;padding:0;}
img,input,button{border: none;}
ul{list-style: none;}
a{text-decoration: none;color: #666666;}
a:hover{color:#C81623;}
i{font-style: normal;font-family: consolas;}
input{outline: none;}
textarea{resize: none;}
body{font-family: arial,"microsoft yahei","宋体";}
.clearfix::after{content:'.';visibility: hidden;height:0;display:block;clear: both;}
.header{border-bottom:2px solid #b1191a;}
.inner{width:1210px;margin:0 auto;}
.header .top .diqu{float: left;line-height: 30px;height:30px;font-size:12px;font-weight:normal;color:#666666;}
.header .top .diqu i{display: inline-block;width:10px;height:5px;font-size:15px;margin-left:9px;line-height:0px;overflow:hidden;}
.header .top{height:30px;background-color:#f1f1f1;}
.header .top ul{float: right;}
.header .top li{float: left;}
.header .top ul .line{width: 1px;height:12px;background-color: #000;margin-top:9px;}
.header .top ul li a{font-size:12px;font-weight:normal;font-family:"songt";color:#666666;padding:0 10px;display: inline-block;line-height:30px;height:30px;}
.header .top ul li span{background:url(../images/jd2015img.png) no-repeat ;width:15px;height:20px;display:inline-block;line-height:30px;margin:5px 3px 0 0;float:left;}
.header .top ul li:hover span{background-position: 0 -25px;}
.header .top ul li:hover .active{background-color:#FFFFFF;}
.header .top ul li:hover a{color:#c81623;}
.header .top ul li .free{color: #c81623;padding-left:0;}
.header .top ul li i{display: inline-block;width:10px;height:5px;font-size:15px;margin-left:9px;line-height:0px;overflow:hidden;}
.header .mid {height: 100px;}
.header .top ul li:hover i{line-height:10px;}
.header .mid .m-mid{float: left;}
.header .mid .logo{padding:20px 92px 0 0;float:left;}
.header .mid form{padding-top:25px;}
.header .mid form .text{font-size:13px;font-weight:normal;color:#666666;line-height:32px;width:449px;height:32px;border: 2px solid #C81623;padding-left: 5px;float: left;}
.header .mid form .sub{width: 80px;height: 36px;background-color: #C81623;text-align: center;color: #FFFFFF;line-height: 36px;float: left;cursor: pointer;font-size: 16px;font-weight: normal;}
.header .mid .tags{font-size: 12px;font-weight: normal;color: #666666;line-height: 28px;height: 28px;font-family: "宋体";width: 538px;overflow: hidden;}
.header .mid .tags a{margin-right: 11px;float: left;}
.header .mid .tags .first{color: #C81623;}
.header .mid .tags a:hover{color: #C81623;}
.header .mid .buy{float: right;width:139px;height:34px;margin:25px 65px 0 0;background: #f9f9f9 url(../images/jd2015img.png) no-repeat 18px -49px;line-height: 34px;height: 34px;position: relative;}
.header .mid .buy a{font-size: 12px;color: #666666;font-weight: normal;margin-left: 44px;}
.header .mid .buy a:hover{color: #C81623;}
.header .mid .buy a:hover i{color: #C81623;}
.header .mid  .buy i{float: right;padding-right: 11px;}
.header .mid  .buy .num{height: 14px;background-color: #C81623;font-size: 12px;line-height:14px;color: #FFFFFF;position: absolute;top: -4px;left: 104px;border-radius:7px 7px 7px 0;padding: 0 5px;}
.nav .all{width: 200px;height: 44px;background-color: #b1191a;line-height: 44px;font-size: 15px;font-weight: normal;color: #FFFFFF;padding-left: 10px;float: left;}
.nav ul{float: left;}
.nav li{float: left;margin:0 20px;font-size:16px;line-height: 44px;height: 44px;font-weight:normal;}
.nav li a{color: #333333;}
.nav li a:hover{color: #C81623;}
.page1{height:466px;}
.page1 .wrap{float: left;width: 210px;}
.inner{width: 1210px;margin: 0 auto;}
.page1 .p-top .left{width:209px;height:465px;background-color:#C81623;border-bottom:1px solid #b61d1d ;border-left:1px solid #b61d1d ;z-index: 10;}
.page1 .p-top .left ul{position:relative;z-index:10;}
.page1 .p-top .left li{line-height: 31px;height: 31px;position: relative;}
.page1 .p-top .left .menu_ac{background-color: #F7F7F7;}
.page1 .p-top .left .menu_ac a{color: #666666;}
.page1 .p-top .left li a:hover{color: #C81623;}
.page1 .p-top .left li:hover i{color: #C81623;}
.page1 .p-top .left h2{font-size:14px;font-weight:normal;color:#FFFFFF;height:31px;padding-left:10px;width:172px;overflow: hidden;}
.page1 .p-top .left h2 a{color: #FFFFFF;}
.page1 .p-top .left i{position: absolute;top: 0;right: 13px;font-family: consolas;font-size: 13px;color: #FFFFFF;}
.page1 .nav-list{width:30px;float:left;position: fixed;left:10px;bottom:50px;display:none;}
.page1 .nav-list li{height:24px;text-align: center;vertical-align:middle;font-size:12px;color:#666666;line-height:13px;padding:3px;}
.page1 .nav-list .ac{background-color:#C81623;}
.page1 .nav-list .ac a{color:#fff;}
.wrap{position: relative;}
.wrap .popup{width:999px;min-height:465px;position: absolute;top: -1px;left:209px;background-color: #F7F7F7;z-index:5;border: 1px solid #b61d1d;display: none;}
.wrap .popup .hide{display:none;}
.wrap .popup .se-left{margin: 20px 0 0 20px;width:725px;float:left;}
.wrap .popup .se-left .brand{height: 24px;width: 725px;overflow: hidden;}
.wrap .popup .se-left .brand a{font-size:12px;color:#FFFFFF;height:24px;padding:0 31px 0 9px;background-color: #7c7171;line-height:24px;position: relative;float: left;margin-right: 10px;}
.wrap .popup .se-left .brand span{font-family: consolas;font-size: 12px;position: absolute;top: 1px;right: 0px;background-color: #5c5251;width: 23px;height: 23px;text-align:center;}
.wrap .popup .se-left .brand a:hover{background-color: #C81623;}
.wrap .popup .se-left .brand a:hover span{background-color: #b1191a;}
.wrap .popup .se-right{float: right;width: 168px;padding:20px 20px 0 0;}
.wrap .popup .se-right .r-top a{float: left;margin: 0 1px 1px 0;height:35px;}
.wrap .popup .se-right .r-bot{margin-top:9px;float: left;}
.wrap .popup .se-right .r-bot a{width: 168px;height: 134px;margin-bottom:1px;float: left;}
.wrap .se-left .nav-con{margin-top:6px;}
.wrap .se-left .nav-con dl{}
.wrap .se-left .nav-con dt{float: left;width: 84px;font-size:12px;font-weight:bold;margin-top: 10px;position: relative;position: relative;color:#666666;}
.wrap .se-left .nav-con dd .active{float: left;padding:0 8px;border-left:1px solid #e5e5e5;font-size: 12px;color:#666666;line-height:16px;margin:4px 0;background: url(../images/573d8dd9N215dc6c9.jpg) no-repeat 8px 0;width:60px;height:16px;}
.wrap .se-left .nav-con dt a{color:#666666;width:55px;display:inline-block;text-align: right;overflow: hidden;}
.wrap .se-left .nav-con dt a:hover{color:#C81623;}
.wrap .se-left .nav-con dt i{position: absolute;top: 0;right:17px;}
.wrap .se-left .nav-con dd{border-bottom:1px solid #f2f2f2;width: 621px;float: left;padding:6px 0;}
.wrap .se-left .nav-con dd a{float: left;padding:0 8px;border-left:1px solid #e5e5e5;font-size: 12px;color:#666666;line-height:16px;margin:4px 0;}
.wrap .se-left .nav-con dd a:hover{color:#C81623;} 
.page1 .p-bot{margin-top:10px;font-size: 0;float: left;}
.page1 .p-bot .active{display: inline-block;width: 210px;height: 151px;background:url(../images/homebg.png) no-repeat -213px -136px;vertical-align: top;margin-right:0;}
.page1 .p-bot a{margin-right:1px;}
.page1 .p-bot .last{margin-right:0;}
.page1 .right_icon{position:fixed;top: 0;right: 0;}
.page1 .right_icon .short_cut{border-right:6px solid #7a6e6e;position:absolute;top:100px;right:0;}
.page1 .right_icon .short_cut li{font-size:12px;color:#fff;width:25px;height:25px;margin-bottom:5px;position:relative;}
.page1 .right_icon .short_cut li a{display: inline-block;line-height:25px;height:25px}
.page1 .right_icon .short_cut li .short_right span{width:25px;height:25px;background-color:#7a6e6e;display: inline-block;vertical-align: middle;}
.page1 .right_icon .short_cut li .short_left{width:48px;height:25px;background-color:#C81623;position:absolute;top:0;left:0;padding:0 5px;}
.page1 .right_icon .short_cut li .hide{display:none;}
.page1 .right_icon .short_cut li .short_one{background:url(../images/ktoolbars.png) no-repeat -91px -179px;}
.page1 .right_icon .short_cut li .short_two{background:url(../images/ktoolbars.png) no-repeat -53px -5px;}
.page1 .right_icon .short_cut li .short_three{background:url(../images/ktoolbars.png) no-repeat -53px -55px;}
.page1 .right_icon .short_cut li .short_four{background:url(../images/ktoolbars.png) no-repeat -53px -105px;}
.page1 .right_icon .short_cut li .short_five{background:url(../images/ktoolbars.png) no-repeat -193px -155px;}
.page1 .right_icon .short_cut li .short_six{background:url(../images/ktoolbars.png) no-repeat -53px -155px;}
.page1 .right_icon .short_cut li .short_seven{background:url(../images/ktoolbars.png) no-repeat -53px -305px;}
.page1 .right_icon .short_cut li .short_eight{background:url(../images/ktoolbars.png) no-repeat -53px -255px;}

.footer .f-top{height:94px;background-color:#f5f5f5;line-height:94px;margin-top:20px;width:100%;}
.footer .f-top span{width:220px;height:54px;display:inline-block;background:url(../images/nva_bg.png) no-repeat;margin:20px 80px 0 0;}
.footer .f-top .one{background-position:0 -130px;margin-left:11px;}
.footer .f-top .two{background-position:0 -194px;}
.footer .f-top .three{background-position:0 -258px;}
.footer .f-top .four{background-position:0 -322px;margin:20px 0 0 0;}
.inner{width: 1210px;margin: 0 auto;}
.footer .f-mid{height: 202px;border-bottom:1px solid #e5e5e5;}
.footer .f-mid dl{width:199px;margin-top:14px;float:left;}
.footer .f-mid dt{font-size:16px;color:#666666;line-height:36px;height:36px;}
.footer .f-mid dd{font-family:"宋体";font-size:12px;color:#666666;line-height:20px;height:20px;}
.footer .f-mid .last{width:164px;}
.footer .f-mid .map{margin-top:6px;width:211px;float: left;background:url(../images/20130330B_1.png) no-repeat 0 -131px;height:169px;}
.footer .f-mid .map h3{font-size:16px;font-weight:normal;color:#666666;line-height:53px;height:53px;float: left;}
.footer .f-mid .map p{font-size:12px;font-family:"宋体";color:#666666;line-height:18px;float: left;}
.footer .f-mid .map a{display:block;font-size:12px;line-height:18px;color:#666666;margin-left:152px;float: left;}
.footer .f-mid .map a:hover{color: #C81623;}
.footer .f-bot{text-align: center;height:196px;}
.footer .f-bot p{font-family:"宋体";font-size:12px;color: #666666;line-height:18px;}
.footer .f-bot .icon{line-height:34px;height:34px;margin-top:12px;}
.footer .f-bot span{margin:0 11px 0 12px;}
.footer .f-bot .icon a:hover{color: #C81623;}
.footer .f-bot .jing{display: inline-block;width:18px;height:20px;background:url(../images/jing_03.jpg) no-repeat;vertical-align: sub;}
.footer .f-bot .w-list{font-size: 0;margin-top:11px;}
.footer .f-bot .w-list a{margin-right:12px;}
